<!-- header.html -->

{% load static %} 

<header>
    <nav>
        <ul>
            <li><a href="/">Recipe Management System</a></li>
        </ul>
    </nav>
    
    <!-- Login/Logout Section -->
    <div class="header-right">
        <div class="profile-header">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="profile-header-link">
                <img src="{{ user.profile.image.url }}" alt="Profile Image" class="profile-header-image">
            </a>
            {% endif %}
        </div>
        
        <div class="login-link">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="login-link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="login-link">Login</a>
            {% endif %}
        </div>
    </div>
</header>
