h2 {
    color: #2ecb4b;
    margin-bottom: 10px;
}


section {
    margin-bottom: 40px;
}

.login-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 22px);;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ff6600;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #ff9933;
}

.tag-description {
    font-size: 12px;
    color: #888;
    margin-left: 5px;
}

.image-container {
    max-width: 30%; /* Limit the maximum width of the container */
    overflow: auto; /* Hide any overflow if the image exceeds the maximum dimensions */
}

.image-container img {
    max-width: 100%; /* Make the image fit within the container */
    height: auto; /* Preserve the aspect ratio of the image */
}


.recipe-list {
    display: flex;
    flex-wrap: wrap;
}

.recipe-item {
    width: 30%; /* Adjust as needed based on the number of recipes to display */
    margin: 10px; /* Adjust spacing between items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-item img {
    max-width: 100%;
    max-height: 100%; /* Ensure the image does not exceed its original height */
}

.recipe-item h3 {
    margin-top: 5px; /* Add space below the image */
    text-align: center;
}

.tags ul {
    list-style-type: none;
    padding: 0;
}

.tags li {
    display: inline;
    margin-right: 10px;
}

.tags li a {
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 5px;
}

.tags li a:hover {
    background-color: #007bff;
    color: #fff;
}

.search form {
    display: flex;
    align-items: center;
}

.search form input[type="text"],
.search form select {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search form input[type="text"] {
    width: 400px;
}

.search form button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search form button:hover {
    background-color: #0056b3;
}

.search form .errorlist {
    display: none;
}

.search form label {
    display: none;
}



/* Style the link */
.create-recipe a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect for the link */
.create-recipe a:hover {
    text-decoration: underline;
}

.featured-recipes a {
    color: #2ecb4b;
    text-decoration: none;
}

.featured-recipes a:hover {
    text-decoration: underline;
}

/* Style the recipe detail container */
.recipe-detail {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the recipe title */
.recipe-detail h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Style the author */
.recipe-detail p {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

/* Style the image container */
.image-container {
    margin-bottom: 15px;
}

/* Style the recipe image */
.image-container img {
    max-width: 100%;
    border-radius: 5px;
}

/* Style the ingredient list */
.recipe-detail ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
}

.recipe-detail ul li {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

/* Style the tags list */
.recipe-detail ul.tags-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.recipe-detail ul.tags-list li {
    font-size: 14px;
    color: #007bff;
    margin-right: 10px;
    margin-left: 20px;
}

.edit-button,
.delete-button {
    margin-bottom: 10px;
    margin-left: 10px;
}


.btn {
    padding: 5px 10px; /* Add padding to buttons */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.edit-button a {
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff; /* Set primary button color */
    color: white; /* Set text color to white */
}

.btn-danger {
    background-color: #dc3545; /* Set danger button color */
    color: white; /* Set text color to white */
}

.btn:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

.average-rating {
    margin-bottom: 10px; /* Add some space below the average rating */
}

.rating-form {
    margin-top: 20px; /* Add some space above the rating form */
}

.rating-form label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add some space below each label */
}

.rating-form select {
    width: 100px; /* Set width of select dropdown */
    margin-right: 10px; /* Add some space to the right of the select dropdown */
}

.rating-form button {
    padding: 5px 10px; /* Add padding to button */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #007bff; /* Set button background color */
    color: white; /* Set text color to white */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.rating-form button:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

.recipe-item img {
    width: 300px; /* Adjust this value as needed */
    height: 300px; /* Adjust this value as needed */
    object-fit: cover; /* Maintain aspect ratio */
}


.graphql a {
    color: #2ecb4b;
    text-decoration: none;
}

.graphql a:hover {
    text-decoration: underline;
}

/* CSS for pagination styling */

.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.pagination {
    display: inline-block;
    border-radius: 4px;
    background-color: #f9f9f9;
    padding: 8px 16px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.step-links {
    font-size: 14px;
}

.pagination-link {
    color: #007bff;
    text-decoration: none;
    padding: 4px 8px;
    margin: 0 2px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination-link:hover {
    background-color: #e9e9e9;
}

.current-page {
    font-weight: bold;
    margin: 0 10px;
}

.comment-textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
}

.comment-submit {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: #45a049;
}