{% extends 'base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'recipes/css/register_styles.css' %}">
    <div class="register-form-container">
        <h2>Register</h2>
        <form method="post" class="register-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-submit">Register</button>
        </form>
    </div>
{% endblock %}
