{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        {% block content %}
        <!-- The content of each individual page will be inserted here -->
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}
    
    <script src="{% static 'recipes/js/script.js' %}"></script>
    <script src="{% static 'recipes/js/homepage.js' %}"></script>
</body>
</html>
