{% extends 'base.html' %}
{% block title %}All Recipes{% endblock %}

{% block content %}
<main>
    <h2>All Recipes</h2>
    <div class="recipe-list">
        {% for recipe in recipes %}
            <div class="recipe-item">
                <a href="{% url 'recipe_detail' pk=recipe.pk %}">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    <h3>{{ recipe.title }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if recipes.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if recipes.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ recipes.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
            </span>

            {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}">next</a>
                <a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</main>
{% endblock %}
