{% extends 'base.html' %}
{% block content %}
<main>
    <section class="featured-recipes">
        <h2><a href="{% url 'all_recipes' %}">Featured Recipes</a></h2>
        <div class="recipe-list">
            {% for recipe in featured_recipes %}
                <div class="recipe-item">
                    <a href="{% url 'recipe_detail' pk=recipe.pk %}">
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                        <h3>{{ recipe.title }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="search">
        <h2>Search Recipes</h2>
        <form id="search-form">
            <input type="text" id="search-input" placeholder="Enter your search query...">
            <button type="submit">Search</button>
        </form>
        <div id="search-results"></div>
    </section>
    
    <section class="tags">
        <h2>Popular tags</h2>
        <ul>
            <!-- Display tag links -->
            {% for tag in tags %}
                <li><a href="">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section class="create-recipe">
        <h2>Create a Recipe</h2>
        <p><a href="{% url 'create_recipe' %}">Create a new recipe</a></p>
    </section>
</main>
{% endblock %}
