{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Recipe Detail{% endblock %}

{% block content %}
<main class="recipe-detail">
    <div>
        <h2>{{ recipe.title }}</h2>
        <p class="author">Auther: {{ recipe.user.username }}</p>

        {% if recipe.image %}
        <div class="image-container">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        </div>        
        {% endif %}

        <p><strong>Description:</strong><br> {{ recipe.description }}</p>
        <p><strong>Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
        <p><strong>Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>
        <p><strong>Difficulty Level:</strong> {{ recipe.difficulty_level }}</p>

        <h3>Ingredients:</h3>
        <ul class="ingredients-list">
            {% for ingredient in ingredients %}
            <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }} {{ ingredient.unit }}</li>
            {% endfor %}
        </ul>

        <h3>Tags:</h3>
        <ul class="tags-list">
            {% for tag in recipe.recipetag_set.all %}
            <li>{{ tag.tag.name }}</li>
            {% endfor %}
        </ul>
    </div>

    {% if can_edit %}
    <div class="edit-button">
        <a href="{% url 'edit_recipe' pk=recipe.pk %}" class="btn btn-primary">Edit Recipe</a>
    </div>
    <div class="delete-button">
        <form action="{% url 'delete_recipe' pk=recipe.pk %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Recipe</button>
        </form>
    </div>    
    {% endif %}
    
    <div>
        {% if average_rating %}
            <p class="average-rating">Average Rating: {{ average_rating }}</p>
        {% else %}
            <p class="average-rating">No ratings yet</p>
        {% endif %}

        <form action="{% url 'rate_recipe' recipe.id %}" method="post" class="rating-form">
            {% csrf_token %}
            <label for="rating">Rate this recipe:</label>
            <select name="rating" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit" class="btn-submit-rating">Submit Rating</button>
        </form>
    </div>

    {% include 'components/comments.html' %}
    
</main>
  
{% endblock %}
